<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">

<style>
    label {
        font-size: 15px !important;
        font-weight: bloder !important;
        color: #000000 !important;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #888888;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #888888;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #888888;
    }
</style>