<script type="text/javascript">
    function setAnnualMeasuresChart(data) {
        var years = [];
        var weight_avgs = [];

        data.measures.forEach(function(measure) {
            years.push(measure.year);
            weight_avgs.push(measure.weight_avg);
        });

        setChart(years, weight_avgs);
    }

    function setMonthlyMeasuresChart(data) {
        var months = [];
        var weight_avgs = [];

        data.measures.forEach(function(measure) {
            months.push(measure.month_name);
            weight_avgs.push(measure.weight_avg);
        });

        setChart(months, weight_avgs);
    }

    function setDailyMeasuresChart(data) {
        var days = [];
        var weights = [];

        data.measures.forEach(function(measure) {
            days.push(measure.date);
            weights.push(measure.weight);
        });

        setChart(days, weights, label="Weight");
    }

    function setChart(dates, weights, label="Weight average") {
        var annotation_line = {};

        if (window.myChart && window.myChart !== null) {
            window.myChart.destroy();
        }

        if (weights.length == 1) {
            annotation_line =  {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: weights[0],
                    borderColor: 'rgb(207, 207, 207)',
                    borderWidth: 2,
                    label: {
                      enabled: false,
                      content: 'Test label'
                    }
                }]
            }
        }

        var ctx = document.getElementById('weightChart').getContext('2d');
        window.myChart = new Chart(ctx, {
            type: 'line',
            responsive: true,
            data: {
                labels: dates,
                datasets: [{
                    label: label,
                    data: weights
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                annotation: annotation_line
            }
        });
    }
</script>
